.ct {
	background-color: #BDBDBD;
	/*padding: 8px;*/
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12;
	border-color: gray;
	border-style: solid;
}
.ct-ctns,
.ct-ctn {
	/*background-color: #01A9DB; /*#F79F81; */
	background-color: white;
	/*border: 10px solid #A4A4A4;*/
	/*margin: 5px;*/
	/*height: auto;*/
	display: block;
	/*padding: 10 10 10 10;*/
}
.ct-cnvs {
	/*display: inline-block;*/
	vertical-align: top;
	cursor: auto;
}
.ct-tp-rsz {
	background-color: gray;
	cursor: n-resize;
}
.ct-lf-rsz {
	vertical-align: top;
	background-color: gray;
	display: inline-block;
	cursor: w-resize;
}
.ct-rt-rsz {
	vertical-align: top;
	background-color: gray;
	display: inline-block;
	cursor: e-resize;
}
.ct-bt-rsz {
	background-color: gray;
	cursor: s-resize;
}
.ctn {
	/*display: inline-block;*/
}

.lyhdn {
	display: none;
}

.lyshdw {
	box-shadow: 0px 5px 10px #888888;
}
.leya-draggable {
	cursor: move;
}

.ct-ctn .ct {
	/*margin-bottom: 10;*/
}

.pnl-ttle {
	padding: 5px;
	background-color: #99CCFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12;
	user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.pnl-html {
	padding: 5px;
}

.pnl-lay-hor {
	vertical-align: top;
	display: inline-block;
}

.button-text {
	padding: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12;
	cursor: pointer;
	user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}