.ctnr {
	background-color: #BDBDBD;
	/*padding: 8px;*/
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12;
}
.ctnr-contents,
.ctnr-content {
	/*background-color: #01A9DB; /*#F79F81; */
	background-color: white;
	/*border: 10px solid #A4A4A4;*/
	/*margin: 5px;*/
	/*height: auto;*/
	display: block;
	/*padding: 10 10 10 10;*/
}
.ctnr-canvas {
	display: inline-block;
	vertical-align: top;
}
.ctnr-top-draggable {
	background-color: gray;
	cursor: n-resize;
}
.ctnr-left-draggable {
	vertical-align: top;
	background-color: gray;
	display: inline-block;
	cursor: w-resize;
}
.ctnr-right-draggable {
	vertical-align: top;
	background-color: gray;
	display: inline-block;
	cursor: e-resize;
}
.ctnr-bottom-draggable {
	background-color: gray;
	cursor: s-resize;
}
.content {
	display: inline-block;
}

.leya-hidden {
	display: none;
}

.leya-shadow {
	box-shadow: 0px 5px 10px #888888;
}
.leya-draggable {
	cursor: move;
}

.ctnr-content .ctnr {
	/*margin-bottom: 10;*/
}

.pnl-ttle {
	padding: 5px;
	background-color: #99CCFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12;
	user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.pnl-html {
	padding: 5px;
}

.button-text {
	padding: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12;
	cursor: pointer;
	user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}