.container {
	background-color: #BDBDBD;
	/*padding: 8px;*/
}
.container-content {
	background-color: #01A9DB; /*#F79F81; */
	/*border: 10px solid #A4A4A4;*/
	/*margin: 5px;*/
	/*height: auto;*/
	display: block;
}
.container-canvas {
	display: inline-block;
	vertical-align: top;
}
.container-top-draggable {
	background-color: gray;
	cursor: n-resize;
}
.container-left-draggable {
	vertical-align: top;
	background-color: gray;
	display: inline-block;
	cursor: w-resize;
}
.container-right-draggable {
	vertical-align: top;
	background-color: gray;
	display: inline-block;
	cursor: e-resize;
}
.container-bottom-draggable {
	background-color: gray;
	cursor: s-resize;
}
.content {
	display: inline-block;
}

.leya-hidden {
	display: none;
}

.container-content .container {
	margin: 10px;
}